*{
  font-family: Source Serif Pro;
}

.signup-bg{
  background-image: url('../public/main/signup_bg.webp');
  height: 100vh;
  background-size: cover;
}
.login-bg{
  background-image: url('../public/main/login_bg.jpg');
  height: 90vh;
  background-size: cover;
}
.manageuser-bg{
  background-image: url('../public/main/manage_user.webp');
  height: 100vh;
  background-size: cover;
}


