*{
  font-family: Source Serif Pro;
}

.signup-bg{
  background-image: url('../public/main/signup_bg.jpg');
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.login-bg{
  background-image: url('../public/main/login_bg.jpg');
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.novelmanager-bg{
  background-image: url('../public/main/novelmanager_bg.jpg');
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.manageuser-bg{
  background-image: url('../public/main/manageuser_bg.webp');
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.addnovel-bg{
  background-image: url('../public/main/addnovel_bg.jpg');
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.viewnovel-bg{
  background-image: url('../public/main/viewnovel_bg.jpg');
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.user-profile-top{
  background-image: linear-gradient(0deg, #00000058, #00000058), url('../public/user/profile-top.webp');
  height: 200px;
  background-size: cover;
  background-position: bottom;
}
.chat-bg{
  background-image: url('../public/main/chat_bg.jpg');
  min-height: 80vh;
  background-size: cover;
  background-attachment: fixed;
}
